@import "../../../styles/_theme.scss";
footer{
    background-color: $secondary-color;
    background: url(../../../assets/images/header-back.png) center no-repeat;
    .footer-container{
        color: #fff;
        padding:10px;
        width: 505px;
        margin:0 auto;
    }
}