.login-error{
    font-size: 15px;
    .fa{
        margin-right: 5px;
    }
}
.box-container{
    padding: 20px;
    h3{
        font-weight: 700;
    }
    .action-group{
        display: flex;
        .action{
            margin-right:10px;
            font-size: 14px;
            margin-top:20px;
            width: 100%;
            button{
                width: 100%;
            }
        }
    }
}