.wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    display: flex;
    flex-direction: column;
}
.page-header,
.page-footer {
    flex-shrink: 0;
}

.page-body {
    flex-grow: 1;
}
.sticky-header + .page-body{
    padding-top: 74px;
}